.eric6project/
_eric6project/
.eric5project/
_eric5project/
.eric4project/
_eric4project/
.ropeproject/
_ropeproject/
.directory/
.directory
temp/
inout/Test*.*
Ui_*.py
*_rc.py
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
*.dia~
*.odt#
cur/
tmp/
__pycache__/
*.DS_Store
*.lnk
*.db
*.kate-swp
*.old
